/* CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/
body{
    font-family: sans-serif;
}

.border{
    border: 1px solid black;
}

img{
    display: block;
    max-width: 100%;
}

/*UTILITY*/
.container{
    max-width: 900px;
    margin: 100px auto;
}

.flex{
    display: flex;
}

.txt-brand{
    font-size: 10px;
}

.txt-article{
    font-size: 15px;
    font-weight: bold;
}

.txt-price{
    font-size: 10px;
    color: #FF0000;
}

.txt-price > span{
    color: #69617B;
    text-decoration: line-through;
}

.icn-nav{
    color: #ffff;
}

/*POSITION*/
.p-relative{
    position: relative;
}


/*HEADER*/
header{
    min-height: 80px;
    background-color: #ff6900;
    justify-content: space-around;
}

.nav-container{
    width: 900px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.nav-col{
    height: 80px;
    flex-basis: calc(100% / 3);
    align-items: center;
    gap: 10px;
}

.nav-col > .gender{
    color: #ffff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.logo-header{
    height: 30px;
    right: 25%;
}


/*CARDS*/

.card{
    position: relative;
}

.raw{
    display: flex;
    gap: 10px;
}

.col{
    min-height: 50px;
    border: 1px solid black;
    flex-basis: calc(100% / 3);
}

.sale{
    font-size: 10px;
    color: #ffff;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 20px;
}

.sale.red{
    background-color: #FF0000;
}

.sale.green{
    background-color: #008000;
    position: absolute;
    left: 45px;
    display: block;
}

.card:hover::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-image: url(../img/1b.webp);
    content: '';
}